.product-container2 {
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
}

@media (min-width: 950px) {
  .product-container2 {
    padding: 50px 200px;
    
    grid-template-columns: repeat(3, 1fr);   
  }
}

@media (min-width: 1200px) {
  .product-container2 {
    padding: 50px 200px;
  
    grid-template-columns: repeat(4, 1fr); 
  }
}
